@import "tailwindcss";

@theme {
  --color-navy-900: #0b2e59;
  --color-navy-800: #103f73;
  --color-navy-700: #1e528a;
  --color-saffron-500: #ff9933;
  --color-saffron-600: #e67e22;
  --color-saffron-100: #fff3e6;
  --color-govgray-50: #f9fafb;
  --color-govgray-100: #f3f4f6;
  --color-govgray-200: #e5e7eb;
  --color-govgray-300: #d1d5db;
  --color-govgray-600: #4b5563;
  --color-govgray-900: #111827;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background-color: #ffffff;
  color: #111827;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
